idp.saml.endpoint.value=idp/startSSO.ping
idp.saml.relaystate.cache.ttl.value=3000
idp.sp.relay.state.request.key.value=TargetResource
idp.sp.entity.id.value.value=APIGEE_SAML_POST
idp.hostname.value=35.237.173.209:9031
idp.sp.entity.id.key.value=PartnerSpId
idp.truststore.name.value=IDP_SAML_TRUSTSTORE
idp.saml.assertion.xpath.value=/saml2p:Response/saml2:Assertion
idp.saml.access_token.expiry.value=1800000


idp.api_product.name.value=SAMLBasedIdentityAPIs
idp.developer.name.value=idpSamlUser
idp.developer.email.value=idpSamlUser@example.com
idp.developer.firstname.value=IdPSaml
idp.developer.lastname.value=UserSaml
idp.app.name.value=SAMLBasedIdentityDemoApp
idp.sample_api_product.name.value=Protected_API_Sample_SAML_Proxy
