## This is the configuration file for IdP Pattern 1
idp.client.id.value=1VqI67c2U8wlkjCVN0qX
idp.issuer.value=https://dev-978318.oktapreview.com
idp.hostname.value=dev-978318.oktapreview.com
idp.client.secret.value=F0M80AOi2ZUabbiUixbvoDkdNOpAywqMyLxFo0_3
idp.atz_code.endpoint.value=oauth2/v1/authorize
idp.audience.value=1VqI67c2U8wlkjCVN0qX
idp.redirect_uri.value=https://saisarantest-eval-test.apigee.net/v1/idp/oidc/cb
                       

## Default Values
idp.jwks.endpoint.value=oauth2/v1/keys
idp.userinfo.endpoint.value=oauth2/v1/userinfo
idp.atz_code_to_token.endpoint.value=oauth2/v1/token
idp.scope.value=openid+profile+email
idp.atz_code.cache.ttl.value=300
idp.jwks.cache.ttl.value=300
idp.api_product.name.value=IdentityAPIs
idp.developer.name.value=idpUser
idp.developer.email.value=idpUser@example.com
idp.developer.firstname.value=IdP
idp.developer.lastname.value=User
idp.app.name.value=IdentityDemoApp
idp.sample_api_product.name.value=Protected_API_Sample_Proxy


